{% extends 'base.html' %}
{% block title %}Task_2{% endblock title %}
{% block task_2active %}active{% endblock task_2active %}

{% block body %}
<div class="container my-3">
    <h2>Task_2 Article:</h2>

    {% comment %} {% for post in allposts %}
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">India</strong>
            <h3 class="mb-0">{{post.title}}</h3>
            <p class="mb-1 text-muted">{{post.author}}</p> 
            <div class="mb-1 text-muted">{{post.timestamp}}</div>
            <p class="card-text mb-auto">{{post.content| truncatechars:100}}</p>
            <div>
            <a href="/blog/{{post.post_slug}}" class="my-2 btn btn-primary">Continue reading</a>
            </div>
            </div>
            <div class="col-auto d-none d-lg-block">

            </div>
    </div>
    {% endfor %} {% endcomment %}
</div>


{% endblock body %}
